{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}

<h1>Main page</h1>

<h3>Available endpoints:</h3>
<ul>
    {% for route in routes %}
        <li><a href="{{ route }}">{{ route }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
