{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}
    <div class="homepage width-small">

        <div class="header">
            <h1>Main page</h1>
        </div>

        <div class="endpoints-container">
            <h3>Available endpoints:</h3>
            <div class="endpoints-container-list">
                {% for route in routes %}
                    <a href="{{ route }}" class="button">{{ route }}</a>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
