{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}
    <div class="homepage width-small">

        <div class="header">
            <h1>Main page</h1>
        </div>

        <div class="endpoints-container">
            <div class="header">
                <h5>Available pages:</h5>
            </div>
            <div class="endpoints-container-list">
                {% for key, value in routes %}
                    <a href="{{ path(key) }}" class="button">{{ value }}</a>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
