<!DOCTYPE html>
<html lang="">
<head>
    <title>Main page</title>
</head>
<body>
<h1>Welcome to the main page of the Symfony 6 application!</h1>

<h2>Available endpoints:</h2>
<ul>
    {% for route in routes %}
        <li><a href="{{ route }}">{{ route }}</a></li>
    {% endfor %}
</ul>
</body>
</html>
