{% extends 'base.html.twig' %}

{% block title %}{{ 'main.home_page_title'|trans }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="page-header">
            <h1>{{ 'main.home_page_title'|trans }}</h1>
        </div>
        <div class="container additional-info">
            <p>{{ 'main.welcome_message'|trans }}</p>
        </div>
    </div>
{% endblock %}
