{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}


    <div class="container">
        <div class="page-header">
            <h2>Login</h2>
        </div>

        <div class="login-form">
            <form action="{{ path('app_login') }}" method="post">
                <div class="login-username">
                    <label for="username">Email</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}">
                </div>
                <div class="login-password">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="_password">
                </div>
                {% if error %}
                    <div class="form-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {# If you want to control the URL the user is redirected to on success
                <input type="hidden" name="_target_path" value="/account"> #}

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
