{% extends 'base.html.twig' %}

{% block title %}Lucky number!{% endblock %}

{% block body %}

    <div class="container width-sm">
        <div class="page-header">
            <h2>Your lucky number is </h2>
        </div>
        <div class="container lucky-number-container">
            <h2 id="lucky-number">{{ number }}</h2>
            <button class="btn-spinner" id="btn-spinner">
                <img class="icon-spinner" id="spinner-icon" src="{{ asset('images/refresh.svg') }}" alt="spinner">
            </button>
        </div>
    </div>

{% endblock %}

{% block importmap %}
    {{ importmap('lucky_number') }}
{% endblock %}
