{% extends 'base.html.twig' %}

{% block title %}Lucky number!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/lucky.scss') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="header">
            <h2>Your lucky number is </h2>
            <p id="lucky-number">{{ number }}</p>
        </div>
        <button class="btn-spinner" id="btn-spinner">
            <img class="icon-spinner" id="spinner-icon" src="{{ asset('images/refresh.svg') }}" alt="spinner">
        </button>
    </div>

{% endblock %}

{% block javascripts %}
    {{ importmap('lucky_number') }}
{% endblock %}
