{% extends 'base.html.twig' %}

{% block title %}Lucky number!{% endblock %}

{% block body %}

    <div class="container">
        <div class="page-header">
            <h2>Your lucky number is </h2>
            <p id="lucky-number">{{ number }}</p>
        </div>
        <button class="btn-spinner" id="btn-spinner">
            <img class="icon-spinner" id="spinner-icon" src="{{ asset('images/refresh.svg') }}" alt="spinner">
        </button>
    </div>

{% endblock %}

{% block importmap %}
    {{ importmap('lucky_number') }}
{% endblock %}
