{% extends 'base.html.twig' %}

{% block title %}Lucky number!{% endblock %}

{% block body %}
    <div class="header">
        <h2>Your lucky number is </h2>
        <p class="lucky-number">{{ number }}</p>
    </div>
{% endblock %}
