{% extends 'base.html.twig' %}

{% block title %}To-do List!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
{% endblock %}

{% block body %}

    <div class="width-small">
        <header class="header">
            <h2>Todo List</h2>
        </header>
        <form class="input-form">
            <input type="text" class="todo-input" id="todo-input-field">
            <button id="todo-btn-add" class="todo-btn todo-btn-add" type="submit">
                <i class="fas fa-plus-circle"></i>
            </button>
        </form>
        <form class="filter-container">
            <div class="todo-type-switch">
                <input class="todo-type-switch-btn" type="radio" id="all" name="drone" value="all" checked/>
                <label for="all">All</label>
            </div>

            <div class="todo-type-switch">
                <input class="todo-type-switch-btn" type="radio" id="done" name="drone" value="done"/>
                <label for="done">Done</label>
            </div>

            <div class="todo-type-switch">
                <input class="todo-type-switch-btn" type="radio" id="todo" name="drone" value="todo"/>
                <label for="todo">To do</label>
            </div>
        </form>

        <div class="todos-container">
            <ul class="todo-list">
                {% for todo in todos %}
                    <li class="todo-item {% if todo.isDone %}completed{% endif %}">
                        <input class="todo-value" id="{{ todo.id }}" value="{{ todo.label }}">
                        <button class="todo-btn todo-btn-done"><i class="fas fa-check-circle"></i></button>
                        <button class="todo-btn todo-btn-remove"><i class="fas fa-trash-alt"></i></button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ importmap('todo') }}
{% endblock %}
