* {
    box-sizing: border-box;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
}

@import "variables";
@import "footer";
@import "todo";

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: $headingFontColor;

    background: linear-gradient(220deg, hsl(55, 80%, 70%), hsl(150, 80%, 70%), hsl(220, 80%, 70%));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    @keyframes gradient {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px 20px;
}

footer {
    margin-top: auto;
}

li {
    list-style: none;
}

a {
    color: $primaryFontColor;
    text-decoration: none;
}

.hidden {
    display: none;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.header {
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 6px #6669;
}

.page-header-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba($footerColor, 0.75);
    padding: 8px 20px 2px 20px;
    height: 60px;

    img {
        max-height: 100%;
        width: auto;
        opacity: 0.75;
    }

    .header-logged {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        a {
            text-align: end;
        }
    }
}
.page-header-gradient {
    width: 100%;
    height: 20px;
    //background: $footerColor;
    //opacity: 0.75;
    background: linear-gradient(to bottom, rgba($footerColor, 0.70) 20%, rgba($footerColor, 0));
    //background: linear-gradient(to bottom, green 75%, red);
}

#lucky-number {
    font-size: 5rem;
    font-weight: bold;
}

.endpoints-container {
    padding: 20px 0;

    .endpoints-container-list {
        display: flex;
        flex-direction: column;

        a {
            padding: 10px;
            margin: 5px 0;
            box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.5);
            color: rgba(0, 0, 0, 0.7);

            &:hover {
                box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }
}


.satellite-table-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: $primaryFontColor;

    a:hover {
        color: $headingFontColor;

    }

    #searchInput {
        width: 100%;
        padding: 5px;
        margin: 10px 0;
    }
}

.register-form,
.login-form {
    form {
        font-size: smaller;
        color: $primaryFontColor;
        padding: 20px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        gap: 12px;

        border-radius: 0.5rem;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
        background: rgba(255,255,255, 0.5);
        div {
            //display: flex;
            //justify-content: end;
            //column-gap: 20px;

            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 35% 5% 60%;
            label {
                grid-row: 1;
                grid-column: 1;
                display: flex;
                align-items: center;
            }
            input {
                grid-row: 1;
                grid-column: 3;
                border: 1px solid rgba(0, 0, 0, 0.2);
                padding: 2px 5px;
                border-radius: 0.3rem;
            }
            ul {
                grid-row: 2; /* <ul> w drugim rzędzie */
                grid-column: 1 / span 3; /* <ul> rozciąga się na obie kolumny */
                color:red;
            }
        }
        button {
            background: white;
            border-radius: 0.3rem;
            height: 25px;
            &:hover {
                box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }
        }
        .form-error {
            color:red;
            display: flex;
        }
    }
}
