body {
    background-color: beige;
    margin: 20px 40px;
    font-family: Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 2px 20px;
}

.lucky-number {
    font-size: 5rem;
    font-weight: bold;
}