@import "variables";
@import "todo";

@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --navbar-margin-bottom: 25px;
}

* {
    box-sizing: border-box;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    color: $headingFontColor;

    background: linear-gradient(220deg, hsl(55, 80%, 70%), hsl(150, 80%, 70%), hsl(220, 80%, 70%));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    @keyframes gradient {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px 20px;
}

footer {
    margin-top: auto;
}

li {
    list-style: none;
}

a p {
    color: $primaryFontColor;
    text-decoration: none;
    padding: 0;
    margin: 40px;
}

.table-grey {
    background-color: rgba(0, 0, 0, 0.3);
    th {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.width-sm {
    max-width: 450px;
    margin: 0 auto;
}

.width-md {
    max-width: 700px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        .page-header {
            margin: 2rem 0;
            font-size: 2rem;
            text-align: center;
            text-shadow: 2px 2px 6px #6669;

            .additional-info {
                font-size: 1.2rem;
                padding: 10px;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.bg-primary {
    background-color: rgb($primaryBgColor, 255) !important;
}

#lucky-number {
    font-size: 5rem;
    font-weight: bold;
}

.endpoints-container {

    .endpoints-container-list {
        display: flex;
        flex-direction: column;

        a {
            padding: 5px;
            margin: 5px 0;
            box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.5);
            color: rgba(0, 0, 0, 0.7);

            &:hover {
                box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.satellite-table-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    color: $primaryFontColor;

    a:hover {
        color: $headingFontColor;

    }

    #searchInput {
        width: 100%;
        padding: 5px;
        margin: 10px 0;
    }
}

.register-form,
.login-form,
.contact-form {
    form {
        color: $primaryFontColor;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        gap: 12px;

        border-radius: 0.5rem;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.5);

        div {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 35% 5% 60%;
            label {
                grid-row: 1;
                grid-column: 1;
                display: flex;
                align-items: center;
            }
            input {
                grid-row: 1;
                grid-column: 3;
                border: 1px solid rgba(0, 0, 0, 0.2);
                padding: 2px 5px;
                border-radius: 0.3rem;
            }
            ul {
                grid-row: 2; /* <ul> w drugim rzędzie */
                grid-column: 1 / span 3; /* <ul> rozciąga się na obie kolumny */
                color:red;
            }
        }
        button {
            background: white;
            border-radius: 0.3rem;
            height: 30px;
            &:hover {
                box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }
        }
        .form-error {
            color:red;
            display: flex;
        }
    }
}

.btn-spinner {
    background: transparent;
    padding: 20px 0;

    .icon-spinner {
        transition: transform 0.4s;
        height: 40px;
    }

    .icon-spinner:hover {
        transform: rotate(60deg) scale(1);
        transition: transform 0.5s;
        cursor: pointer;
    }

    .icon-spinner.clicked {
        transform: rotate(60deg) scale(1);
        transition: transform 0.4s;
    }
}
