@import "app";

.btn-spinner {
    background: transparent;

    .icon-spinner {
        transition: transform 0.4s;;
        height: 50px;
        fill: #00FFFF;
        color: blue;
    }

    .icon-spinner:hover {
        transform: rotate(360deg) scale(1.5);
        transition: transform 0.6s;
        cursor: pointer;
    }

    svg:hover {
        fill: $headingFontColor;
    }
}


