@import "app";

.table-dark {
    background-color: rgba(0, 0, 0, 0.3);
    th {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.btn-spinner {
    background: transparent;

    .icon-spinner {
        transition: transform 0.4s;
        height: 40px;
    }

    .icon-spinner:hover {
        transform: rotate(60deg) scale(1);
        transition: transform 0.5s;
        cursor: pointer;
    }

    .icon-spinner.clicked {
        transform: rotate(60deg) scale(1);
        transition: transform 0.4s;
    }
}


