<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Contact Message</title>
</head>
<body>
    <p>New message from <strong>{{ email }}</strong></p>
    <p>Message:</p>
    <p>{{ message }}</p>
</body>
</html>
