<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Szelbi's Workspace{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {% endblock %}
</head>

<body>
    {% include('header.html.twig') %}

    <div class="container body-container">
        {% block body %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}

    {% include('footer.html.twig') %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}

</body>
</html>
